body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: white;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
     border-radius: 0px 0px 10px 10px;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 60px;
    
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #FF6C00;
}

.search-box {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 350px;
}

.search-box input {
    border: none;
    padding: 8px 10px;
    width: 100%;
}

.search-box button {
    border: none;
    padding: 8px 15px;
    background: #eee;
    cursor: pointer;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
    color: #333;
}
.home{
    width: 100%;
    height: 670px;
   background-color: antiquewhite;
}




        /* about  */
.about{
    width: 100%;
    height: 700px;
    
}
.about>a:hover{
  transform: scale(1.1);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.travel-section {
    width: 100%;
    text-align: center;
    padding: 40px 20px;
}

.travel-section h1 {
    font-size: 40px;
    font-weight: 700;
    color: #434f5a;
    margin-bottom: 40px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.team img {
    width: 600px;
    height: 500px;
    border-radius: 10%;
  
    margin: 0 5px;
}

.text-box {
    max-width: 550px;
    text-align: left;
}

.text-box p {
    font-size: 16px;
    line-height: 26px;
    color: #555;
}

.text-box h3 {
    margin-top: 20px;
    color: #1c3557;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 22px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.orange {
    background-color: #f28c13;
}

.orange:hover {
    background-color: #d87705;
}

       /* portfolio */
.portfolio{
    width: 100%;
    height: 5350px;
   
}


.cards-container {
  max-width: 1300px;
  
  margin: 5px auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 45px;
}

.card {
  background: white;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
}

.card-img {
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  
  top: 15px;
  left: 15px;
  background: #d90a2c;
  padding: 6px 14px;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
}

.book-btn {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  background: #0d6833;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
}

.heart {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #222;
}

.duration {
  color: #222;
  font-size: 14px;
  opacity: 0.8;
}

.duration span {
  font-style: italic;
  color: #666;
}


.contac{
    width: 100%;
    height: 405px;
    background-color: burlywood;
}
.contac>a:hover{
  transform: scale(1.1);
}


.footer {
  background: #0e4b2b;
  color: #fff;
  padding: 50px 30px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  max-width: 1300px;
  margin: auto;
}

.footer-section h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #fff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
  cursor: pointer;
  transition: 0.3s;
}

.footer-section ul li:hover {
  color: #ffd700;
}

.contact-img,
.trip-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.footer-section p {
  margin: 8px 0;
}

.footer-section i {
  margin-right: 8px;
  color: #fffb00;
}

.social-icons a {
  color: #fff;
  font-size: 25px;
  margin-right: 12px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ffd700;
}



        .form-container {
            max-width: 900px;
            margin: auto;
           background: #0e4b2b;
            padding: 20px 30px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.08);
        }

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
        }

        .form-group {
            display: flex;
            flex-direction: column;
        }

        label {
            font-weight: 600;
            margin-bottom: 6px;
            color: #ffffff;
        }

        .input-box {
            display: flex;
            align-items: center;
            border: 1px solid #d7d7ff;
            padding: 10px 12px;
            border-radius: 8px;
            background: #fafbff;
        }

        .input-box i {
            color: #6c63ff;
            font-size: 1.1rem;
            margin-right: 10px;
        }

        input, select {
            border: none;
            outline: none;
            background: transparent;
            width: 100%;
            font-size: 1rem;
            color: #333;
        }

        input::placeholder, select {
            color: #999;
        }

        /* Responsive */
        @media (max-width: 700px) {
            .row {
                grid-template-columns: 1fr;
            }
        }

